.card{
    border: 1px solid rgb(185, 183, 183);
    width:300px;
    border-radius: 20px;
    overflow: hidden;
}
.image{
    width: 100%;
}

h1{
    margin:0px;
}
p{
    text-align: justify;

}
.details{
    padding: 10px;
}
.btn{
    background-color: black;
    color:white;
    border-radius: 5px;
    border:none;
    padding: 8px 12px;
    
}
